@import './responsive.scss';
.layout {
    max-width: 1366px;
    background-color: rgb(251, 251, 251);
    margin: auto;
    padding: 0px 20px 0px 20px;
    height: 100vh;

    @include lg {
        background-color: green;
        max-width: 1280px;
    }

    @include md {
        background-color: orange;
        max-width: 768px;
    }

    @include sm {
        background-color: lightsalmon;
        max-width: 560px;
    }
}
